.btn-primary
{
   height: 30px; 
    margin-left: 80px;
}
.btn .caret 
{
    margin-left: 10px;
}
.ul1st
{
    list-style-type: none;
    font-size: 25px;
    margin-left: -46px;
    margin-top: 16px;
}
.Triple_line
{
    margin-left: 50px;
    padding-top: 20px;
    font-size:30px;
    cursor:pointer;
    color: black;
}
.secondtop
{
	width: 100%;
	height:100px;
    margin-top: 0px;
    background-color: #5557;
}
.secondtop1
{
    width: 20%;
    height: 130px;
    margin-top: -62px;
}
.container {
    padding-right: 0px; 
    padding-left: 0px; */
    margin-right: auto; 
    margin-left: auto;
}
.thirdtop
{
	width: 100%;
	height: 620px;
    background-color: #f2f2f2;
    margin-top: -10px;
}
.image1 {
    vertical-align: middle;
    height: 362px;
    width: 100%;
}

.fourthtop {
    width: 90%;
    height: 120px;
    margin-left: 70px;
    margin-top: 30px;
    border-bottom: 2px solid green;
    border-radius: 88px;
    background-color: #f2f2f2;
}
.b1 {
    margin-left: 565px;
    margin-top: 11px;
    border-radius: 55px;
    background-color: purple;
    height: 50px;
    width: 190px;
    font-size: 18px;
}
.secondright
{
	width: 30%;
    height: 610px;
    background-color: whitesmoke;
    margin-top: 0px;
    margin-left: 891px;
    border: 1px solid black;
}
.thirdright
{
	width: 30%;
    height: 400px;
    background-color: whitesmoke;
    margin-left: 891px;
     border: 1px solid black;
}

.thirdleft {
    width: 66%;
    height: 250px;
    margin-top: 20px;
    color: red;
    border-bottom: 1px solid #e5e5e5; 
    margin-left: 295px;
    background-color: #f2f2;
    border-radius: 30px;
}
.thirdleftleft
{
	width: 40%;
	height: 150px;
	background-color: #f1f1f1!important;
	float: left;
	
}
.thirdleftright
{
	width: 60%;
	height: 150px;
	background-color: #f1f1f1!important;
	float: right;
	
}
.fourthleft {
    width: 66%;
    height: 180px;
    background-color: #f1f1f1!important;
    border-bottom: 1px solid brown;
}

.sixthleft {
    width: 66%;
    height: 475px;
    background-color: #f1f1f1!important;
    margin-top: -20px;
    font-size: 18px;
}
.sixthleftleft
{
	width: 50%;
	height: 330px;
	background-color: #f1f1f1!important;
	float: left;
}
.sixthleftright
{
	width: 50%;
	height: 330px;
	background-color: #f1f1f1!important;
	float: right;
	
}

.bottomfirstleft
{
	width: 50%;
	height: 380px;
	background-color: #f1f1f1!important;
	float: left;
	
}
.bottomfirstright
{
	width: 50%;
	height: 380px;
	background-color: #f1f1f1!important;
	float: right;
	
}
.bottomsecond {
    width: 66%;
    height: 400px;
    background-color: #f1f1f1!important;
    margin-top: 330px;
}

.bottomthird 
{
    width: 100%;
    height: 350px;
    margin-top: 25px;
    
}
.foot1 
{
    width: 100%;
    height: 275px;
    background-color: #002d8073;
    margin-top: 10px;
}
.foot2
{
	width: 100%;
	height: 400px;
	background-color: green;
	margin-top: 25px;
}
.foot3.1
{
	width: 100%;
	height: 500px;
	background-color: white;
	margin-top: 25px;
}
.foot3.2
{
    width: 100%;
    height: 500px;
    background-color: white;
    margin-top: 25px;
}
.foot3.3
{
    width: 100%;
    height: 500px;
    background-color: white;
    margin-top: 25px;
}
.dwn1
{
    margin-left: 1100px;
    margin-top: -22px;
}
.dropdown-menu
{
    width: 170%;
    height: 215px;
    background-color: #3e797778;
    margin-left: -190px;
    color: white;
    margin-top: 20px;
} 
.navbar
{
    margin-top: -104px;
    margin-left: 320px;
    font-size: 28px;
    overflow: hidden;
}
.navbar a:hover
{
    background-color: #5557;
}
.fa {
  padding: 20px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 40px 2px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.b15
{
    margin-left: 110px;
    width: 27%;
    font-size: 26px;
    height: 50px;
    margin-top: 30px;
    outline: none;
    border-radius: 40px;
}

.sidenav 
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a 
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover 
{
 color: #f1f1f1;
}
.thirdtop OYO:hover
{
    box-shadow: unset;
}

.sidenav .closebtn 
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) 
{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.lastfooter
{
    width: 115%;
    height: 200px;
    margin-left: -89px;
    background-color: #278416a1;
}
.searchforcity
{
    position: absolute;
    width: 80px;
    height: 80px;
    background:#62d474;
    border-radius: 50%;
    top: -263px;
    right: 98px;
    cursor: pointer;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    color: #fff;
    transition: all 0.8s ease;
    text-align: center;
}
.fafa
{
    margin-top: -10px;
}
.input.active{
    width: 350px
}
.wrapper
{
    background-image: url("daylight-hotel-meditation-268095.jpg");
}