
.btn-primary
{
   height: 30px; 
    margin-left: 80px;
}
.btn .caret 
{
    
    margin-left: 10px;
}
.secondtop
{
	/*width: 100%;
	height:100px;*/
    margin-top: 0px;
    background-color: #5557;
}
.container {
    padding-right: 0px; 
    padding-left: 0px; */
    margin-right: auto; 
    margin-left: auto;
}
.thirdtop
{
	/*width: 100%;
	height: 800px;*/
    background-color: #f2f2f2;
    margin-top: -10px;
}
.image1 {
    vertical-align: middle;
    height: 362px;
    width: 100%;
}

.fourthtop {
    /*width: 58%;
    height: 120px;*/
    margin-left: 50px;
    margin-top: 7px;
    border-color: 2px green;
    border-bottom: -12px red;
    border-bottom: 2px solid;
}
.b1 {
    margin-left: 270px;
    margin-top: 10px;
    border-radius: 55px;
    background-color: purple;
    height: 40px;
    width: 160px;
}

.firstright 
{
   /* width: 30%;
    height: 525px;*/
    background-color: whitesmoke;
    margin-top: -75px;
    margin-left: 891px;
    border: 1px solid #e5e5e5;
}
.secondright
{
	/*width: 30%;
    height: 610px;*/
    background-color: whitesmoke;
    margin-top: 0px;
    margin-left: 891px;
    border: 1px solid black;
}
.thirdright
{
	/*width: 30%;
    height: 400px;*/
    background-color: whitesmoke;
    margin-left: 891px;
     border: 1px solid black;
}

.thirdleft {
    /*width: 66%;
    height: 250px;*/
    background-color: #f1f1f1!important;
    margin-top: -415px;
    color: red;
    border-bottom: 1px solid #e5e5e5; 
}
.thirdleftleft
{
	/*width: 40%;
	height: 150px;*/
	background-color: #f1f1f1!important;
	float: left;
	
}
.thirdleftright
{
	/*width: 60%;
	height: 150px;*/
	background-color: #f1f1f1!important;
	float: right;
	
}
.fourthleft {
   /* width: 66%;
    height: 180px;*/
    background-color: #f1f1f1!important;
    border-bottom: 1px solid brown;
}

.sixthleft {
   /* width: 66%;
    height: 475px;*/
    background-color: #f1f1f1!important;
    margin-top: -20px;
    font-size: 18px;
}
.sixthleftleft
{
	/*width: 50%;
	height: 330px;*/
	background-color: #f1f1f1!important;
	float: left;
}
.sixthleftright
{
	/*width: 50%;
	height: 330px;*/
	background-color: #f1f1f1!important;
	float: right;
	
}

.bottomfirstleft
{
	/*width: 50%;
	height: 380px;*/
	background-color: #f1f1f1!important;
	float: left;
	
}
.bottomfirstright
{
	/*width: 50%;
	height: 380px;*/
	background-color: #f1f1f1!important;
	float: right;
	
}
.bottomsecond {
    /*width: 66%;
    height: 400px;*/
    background-color: #f1f1f1!important;
    margin-top: 330px;
}

.bottomthird 
{
    /*width: 100%;
    height: 350px;*/
    margin-top: 25px;
    
}
.foot1 
{
   /* width: 100%;
    height: 275px;*/
    background-color: purple;
    margin-top: 10px;
}
.foot2
{
	/*width: 100%;
	height: 400px;*/
	background-color: green;
	margin-top: 25px;
}
.foot3
{
	/*width: 100%;
	height: 500px;*/
	background-color: white;
	margin-top: 25px;
}
.foot4
{
	/*width: 100%;
	height: 400px;*/
	margin-top: -10px;
}
.foot4left
{
	/*width: 33%;
	height: 85%;*/
	background-color: #16355c;
	float: left;
}
.foot4middle
{
	/*width: 37%;
	height: 85%;*/
	background-color: #16355c;
	margin-left: 405px;
	
}
.foot4right
{
	/*width: 33%;
	height: 85%;*/
	background-color:#16355c;
	float: right;
	margin-top: -340px;
}
.dwn1
{
    margin-left: 1100px;
    margin-top: -22px;
}
.dropdown-menu
{
    /*width: 170%;
    height: 215px;*/
    background-color: #555555;
    margin-left: -190px;
    color: white;
    margin-top: 20px;
} 
.navbar
{
    margin-top: -104px;
    margin-left: 320px;
    font-size: 28px;
    overflow: hidden;
}
.navbar a:hover
{
    background-color: #5557;
}
.fa {
  padding: 20px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 40px 2px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.b15
{
    margin-left: 110px;
    width: 27%;
    font-size: 26px;
    height: 50px;
    margin-top: 30px;
}

.sidenav 
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a 
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover 
{
 color: #f1f1f1;
}
.thirdtop OYO:hover
{
    box-shadow: unset;
}

.sidenav .closebtn 
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) 
{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
